* {
    font-family: 'Karla'
}
body {
    background: #0B2434;
    margin: 0;
    padding: 20px;
    display: grid;
    place-content: center;
}

main {
    background-color: #F5F5F5;
    height: 600px;
    min-width: 800px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}

.dice--container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto auto;
    gap: 20px;
}

.dice {
    width: 80px;
    height:80px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 2px rgba(0,0,0,0.15);
}

.dice:hover{
    cursor: pointer;
}

.dice p {
    font-size: 2rem;
    font-weight: 800;
    font-family: 'Karla';
}

.dot {
    background-color: #0B2434;
    border-radius: 100%;
    width: 15px;
    height: 15px;
    margin: 3px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.15);
}

.dot:nth-child(2) {
    grid-area: b;
}
.dot:nth-child(3) {
    grid-area: c;
}
.dot:nth-child(4) {
    grid-area: d;
}
.dot:nth-child(5) {
    grid-area: e;
}
.dot:nth-child(6) {
    grid-area: f;
}
.dot:nth-child(odd):last-child {
    grid-area: g;
}

.dots--container {
    display: grid;
    grid-template-areas:
        "a . c"
        "e g f"
        "d . b";
}

.roll--button {
    margin-top: 30px;
    background-color:  #5080ED;
    color: white;
    font-weight: bolder;
    font-size: 1.4rem;
    letter-spacing: 2px;
    height: 50px;
    width: 150px;
    border: none;
    border-bottom: .5rem solid #5035FF;
    border-radius: 5px;
    outline: none;
    transition: all 0.1s;
}

.roll--button:hover {
    margin-top: 32px;
    cursor: pointer;
    border-bottom-width: .3rem;
}

.roll--button:active {
    margin-top: 35px;
    border-bottom-width: 0px;
}

.title {
    font-size: 90px;
    margin: 0;
}

.instructions {
    color: #5887bc;
    font-weight: 400;
    margin-top: 0;
    text-align: center;
    width: 50%;
    font-weight: 28px;
    font-size: 20px;
}

.stadistics--container {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    width: 40%;
}

.counter {
    font-weight: 600;
    font-size: 20px;
}

/* score table styles */
.score-table--background-active {
    top: 50%;
    left: 50%;
    position: absolute;
    background-color: white;
    width: 500px;
    text-align: center;
    border-radius: 15px;
    padding: 20px;
    transform: translate(-50%, -60%) scale(1);
    box-shadow: 0px 2px 2px 2px rgba(0,0,0,0.05);
    transition: 800ms ease-in-out;
    opacity: 100%;
}

.score-table--background-hide {
    top: -50%;
    left: 50%;
    position: absolute;
    background-color: white;
    width: 500px;
    height: 350px;
    text-align: center;
    border-radius: 15px;
    padding: 20px;
    transform: translate(-50%, -50%) scale(1.15);
    box-shadow: 0px 2px 2px 2px rgba(0,0,0,0.05);
    transition: 500ms ease-in-out;
    opacity: 0;

}


.score-table {
    width: 100%;
    border-collapse: collapse;
}

.score-table td, .score-table th {
    border: 1px solid #ddd;
}
.score-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.score-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #5080ED;
    color: white;
}

.score-table--button {
    margin-top: 20px;
    background-color:  rgb(80, 128, 237);
    color: white;
    font-weight: bolder;
    font-size: 1.2rem;
    height: 40px;
    width: 90px;
    border: none;
    border-radius: 5px;
    outline: none;
    transition: all 0.1s;
}

.score-table--button:hover {
    cursor: pointer;
    background-color: rgb(25, 86, 227);
}

.score-table--button:active {
    outline: auto;
}